.header {
  color: #111;
}

.title {
  margin-top: 2rem;
  justify-self: center;
}

.description {
  margin-top: 2rem;
  justify-self: center;
}

.backBtn {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  cursor: pointer;
  background-color: chartreuse;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  border: solid rgb(30, 30, 245) 2px;
}

.backBtn:hover {
  background-color: rgb(30, 30, 245);
  border-color: chartreuse;
  color: #eee;
}

.backBtn:active {
  transform: scale(0.98);
}
