.choice {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.choice a {
  display: inline-block;
  background-color: chartreuse;
  padding: 1rem 2rem;
  border-radius: 9999px;
  border: solid rgb(30, 30, 245) 2px;
  text-decoration: none;
}

.choice a:hover {
  background-color: rgb(30, 30, 245);
  border-color: chartreuse;
  color: #eee;
}

.choice a:active {
  transform: scale(0.98);
}
