.container {
  display: flex;
  flex-direction: column;
  max-width: 14rem;
  width: 100%;
}

.measurementTitle {
  margin-bottom: 0.5rem;
  text-align: center;
}

.measurementBtn {
  padding: 0.5rem 1rem;
  background-color: burlywood;
  border: 1px solid #111;
  border-radius: 9999px;
}
