.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 14rem;
  width: 100%;
}

.title {
  text-align: center;
}

.unitChoice {
  margin-top: 0.5rem;
  cursor: pointer;
}
