.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 14rem;
  width: 100%;
}

.title {
  text-align: center;
}

.unitChoice {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: burlywood;
  border: 1px solid #111;
  border-radius: 9999px;
  cursor: pointer;
}
