:root {
  --primary: rgb(100, 150, 15);
  --secondary: rgb(70, 30, 230);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calcContainer {
  display: grid;
  width: 50vw;
  margin-right: 25vw;
  margin-left: 25vw;
  margin-top: 4rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  justify-self: center;
  row-gap: 3rem;
}

.twoCols {
  width: 14rem;
  grid-column: 1/-1;
  text-align: center;
}

.calcElement {
  padding: 0.5rem 1rem;
  background-color: burlywood;
  border: 1px solid #111;
  border-radius: 8px;
}
